html{ 
    border: 2px solid black;
    margin: 0 auto;
}

body {
    margin: auto;
}

.title_menu {
    background-color: Gainsboro; 
    overflow: hidden;
}

.title {
    float: left;
    margin: 10px 10px;
}

.allmenu {
    display: flex;
    float: right;
}

.allmenu div {
    margin: 10px 20px;
}

.main_message {
    background-color: aliceblue;
    text-align: center;
    padding: 100px;
    font-size: 50px;
    font-weight: bold;
}

#second_message {
    text-align: center;
}

.allbox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.allbox div  {
    text-align: center;
    margin: 10px; 
    padding: 10px 200px; 
    height: 150px; 
    background-color: LightSlateGray;
}

.foot {
    text-align: center;
}

.foot div{
    background-color: aliceblue;
    margin: 20px;
    padding: 20px;
    display: inline-block;
}



